<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome Symfony 3.3 with dropzone{% endblock %}</title>
        {% block stylesheets %}
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
         
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ asset('bundles/first/assets/css/main.css') }}" />
		<link rel="stylesheet" href="{{ asset('bundles/first/assets/css/dropzone.css') }}" />
		{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
		    <script src="{{asset('bundles/first/assets/js/jquery.min.js') }}"></script>
			<script src="{{asset('bundles/first/assets/js/skel.min.js') }}"></script>
			<script src="{{asset('bundles/first/assets/js/util.js') }}"></script>
			<script src="{{asset('bundles/first/assets/js/main.js') }}"></script>
			<script src="{{asset('bundles/first/assets/js/dropzone.js') }}"></script>
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		{% endblock %}
    </body>
</html>
