{% extends 'base.html.twig' %}

{% block body %}
		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="index.html" class="logo">introspect</a>
					<nav id="nav">
						<a href="index.html">Home</a>
						<a href="generic.html.twig">Generic</a>
						<a href="elements.html">Elements</a>
					</nav>
				</div>


			</header>
			<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

		<!-- Main -->
			<section id="main" >
				<div class="inner">
					<header class="major special">
						<h1>Dropzone</h1>
						<p></p>
					</header>
					<a href="#"  class="image fit"><img height="3%" src="{{ asset('bundles/firstx/images/pic11.jpg') }}" alt="" /></a>

					<form action="/file-upload" class="dropzone dz-clickable" id="my-awesome-dropzone">
                    </form>
		                	
                 <div class="dropzone my-dropzone" id="form_snippet_image" action="">
                 </div>

		           <!-- <form action="/file-upload" class="dropzone">
						  <div class="fallback">
						    <input name="file" type="file" multiple />
						  </div>
                    </form>-->

					<div class="col-sm-2 pull-right">
				         <input type="submit" class="btn btn-block btn-primary" value="Add" />
				     </div>			  
				</div>
			</section>

		<!-- Footer -->
			<section id="footer">
				<div class="inner">
					<header>
						<h2>Get in Touch</h2>
					</header>
					<form method="post" action="#">
						<div class="field half first">
							<label for="name">Name</label>
							<input type="text" name="name" id="name" />
						</div>
						<div class="field half">
							<label for="email">Email</label>
							<input type="text" name="email" id="email" />
						</div>
						<div class="field">
							<label for="message">Message</label>
							<textarea name="message" id="message" rows="6"></textarea>
						</div>
						<ul class="actions">
							<li><input type="submit" value="Send Message" class="alt" /></li>
						</ul>
					</form>
					<div class="copyright">
						&copy; Untitled Design: <a href="https://templated.co/">TEMPLATED</a>. Images <a href="https://unsplash.com/">Unsplash</a>
					</div>
				</div>
			</section>
{% block javascript %}
{{ parent() }}
<script type="text/javascript">
//je récupère l'action où sera traité l'upload en PHP
var _actionToDropZone = $("#form_snippet_image").attr('action');
//je définis ma zone de drop grâce à l'ID de ma div citée plus haut.
Dropzone.autoDiscover = false;
var myDropzone = new Dropzone("#form_snippet_image", { url: _actionToDropZone }); 

myDropzone.on("addedfile", function(file) {
            alert('nouveau fichier reçu');
        });
</script>
{% endblock %}
{% endblock %}